---
# Base Markdownlint configuration
# Extended Markdownlint configuration in doc/.markdownlint/
default: true

MD001: false

MD024:
  allow_different_nesting: true

MD025: true  # Enforce a single H1 header

MD028: false

first-header-h1: false

no-bare-urls: false

header-style:
  style: "atx"

ul-style:
  style: "dash"

ul-indent:
  indent: 4

no-trailing-spaces: true  # Enforce no trailing spaces

line-length: 120  # Enforce a maximum line length of 120 characters

no-duplicate-header:
  allow_different_nesting: true

no-trailing-punctuation:
  punctuation: ".,;:!。，；：！？"

ol-prefix:
  style: "ordered"

no-inline-html: false  # Allow inline HTML usage

hr-style:
  style: ["---", "***"]  # Allow both "---" and "***" for horizontal rules

no-emphasis-as-heading: false

first-line-h1: false

code-block-style:
  style: ["fenced"]

proper-names:
  names:
    - Markdownlint
    - Home Assistant  # Enforce capitalization for specific proper names

code_blocks: false
